project           = "devops-infra-271113"
public_key_path   = "~/.ssh/appuser.pub"
private_key_path  = "~/.ssh/appuser"
app_source_ranges = ["185.32.135.171/32"]
ssh_source_ranges = ["185.32.135.171/32"]
